
Data Tidying and Reporting/Task_1/Entregable/biblio.bib
Data Tidying and Reporting/Task_1/Entregable/qmnist_nist.RData
Data Tidying and Reporting/Task_1/Entregable/Task1_2pages.pdf
Data Tidying and Reporting/Task_1/Entregable/Task1_2pages.Rmd
Data Tidying and Reporting/Task_1/Entregable/Task1_2pages.tex
Data Tidying and Reporting/Task_1/Entregable/Task1_2pages_files/figure-latex/plot-1.pdf
Statistical Learning/MarcosCrespo_Midterm.zip
Statistical Learning/MidTerm/.Rhistory
Statistical Learning/MidTerm/datos_2018/R/.RData
Statistical Learning/MidTerm/datos_2018/R/.Rhistory
Statistical Learning/MidTerm/Midterm_cache/html/__packages
Statistical Learning/MidTerm/Midterm_cache/html/byclass_3c51ec62f275a1eb3f4351be21600553.RData
Statistical Learning/MidTerm/Midterm_cache/html/byclass_3c51ec62f275a1eb3f4351be21600553.rdb
Statistical Learning/MidTerm/Midterm_cache/html/byclass_3c51ec62f275a1eb3f4351be21600553.rdx
Statistical Learning/MidTerm/Midterm_cache/html/classes_51083fd9621b6d009e8f5e1e6b50aea3.RData
Statistical Learning/MidTerm/Midterm_cache/html/classes_51083fd9621b6d009e8f5e1e6b50aea3.rdb
Statistical Learning/MidTerm/Midterm_cache/html/classes_51083fd9621b6d009e8f5e1e6b50aea3.rdx
Statistical Learning/MidTerm/Midterm_cache/html/cnace_plot_431014093888e4870e1df23c71c26cea.RData
Statistical Learning/MidTerm/Midterm_cache/html/cnace_plot_431014093888e4870e1df23c71c26cea.rdb
Statistical Learning/MidTerm/Midterm_cache/html/cnace_plot_431014093888e4870e1df23c71c26cea.rdx
Statistical Learning/MidTerm/Midterm_cache/html/cnace_table_b6d64406b4449fff36a8123184d20786.RData
Statistical Learning/MidTerm/Midterm_cache/html/cnace_table_b6d64406b4449fff36a8123184d20786.rdb
Statistical Learning/MidTerm/Midterm_cache/html/cnace_table_b6d64406b4449fff36a8123184d20786.rdx
Statistical Learning/MidTerm/Midterm_cache/html/cno_table_077e84af711ee59e9d09892340b9c801.RData
Statistical Learning/MidTerm/Midterm_cache/html/cno_table_077e84af711ee59e9d09892340b9c801.rdb
Statistical Learning/MidTerm/Midterm_cache/html/cno_table_077e84af711ee59e9d09892340b9c801.rdx
Statistical Learning/MidTerm/Midterm_cache/html/conf_12783f5d4cebe44413e27e4cdec38cad.RData
Statistical Learning/MidTerm/Midterm_cache/html/conf_12783f5d4cebe44413e27e4cdec38cad.rdb
Statistical Learning/MidTerm/Midterm_cache/html/conf_12783f5d4cebe44413e27e4cdec38cad.rdx
Statistical Learning/MidTerm/Midterm_cache/html/cv_bb134a2ea71ec34b392aeed21e1db52e.RData
Statistical Learning/MidTerm/Midterm_cache/html/cv_bb134a2ea71ec34b392aeed21e1db52e.rdb
Statistical Learning/MidTerm/Midterm_cache/html/cv_bb134a2ea71ec34b392aeed21e1db52e.rdx
Statistical Learning/MidTerm/Midterm_cache/html/delete1_1ab9ec134cf167f8e163dbc4b76372d9.RData
Statistical Learning/MidTerm/Midterm_cache/html/delete1_1ab9ec134cf167f8e163dbc4b76372d9.rdb
Statistical Learning/MidTerm/Midterm_cache/html/delete1_1ab9ec134cf167f8e163dbc4b76372d9.rdx
Statistical Learning/MidTerm/Midterm_cache/html/edu_plot2_97838f868c59413c9b9f141182717222.RData
Statistical Learning/MidTerm/Midterm_cache/html/edu_plot2_97838f868c59413c9b9f141182717222.rdb
Statistical Learning/MidTerm/Midterm_cache/html/edu_plot2_97838f868c59413c9b9f141182717222.rdx
Statistical Learning/MidTerm/Midterm_cache/html/fichero_salida1_7a9c98a610364932af0121bc70059493.RData
Statistical Learning/MidTerm/Midterm_cache/html/fichero_salida1_7a9c98a610364932af0121bc70059493.rdb
Statistical Learning/MidTerm/Midterm_cache/html/fichero_salida1_7a9c98a610364932af0121bc70059493.rdx
Statistical Learning/MidTerm/Midterm_cache/html/ine_faddee2390e16a65c61c394bd0c225a1.RData
Statistical Learning/MidTerm/Midterm_cache/html/ine_faddee2390e16a65c61c394bd0c225a1.rdb
Statistical Learning/MidTerm/Midterm_cache/html/ine_faddee2390e16a65c61c394bd0c225a1.rdx
Statistical Learning/MidTerm/Midterm_cache/html/last_plots_9f4685fee0d30313aa7aaebc6507fb0f.RData
Statistical Learning/MidTerm/Midterm_cache/html/last_plots_9f4685fee0d30313aa7aaebc6507fb0f.rdb
Statistical Learning/MidTerm/Midterm_cache/html/last_plots_9f4685fee0d30313aa7aaebc6507fb0f.rdx
Statistical Learning/MidTerm/Midterm_cache/html/lda_c23dcb4a9b1b7cc96168ebc0e371f056.RData
Statistical Learning/MidTerm/Midterm_cache/html/lda_c23dcb4a9b1b7cc96168ebc0e371f056.rdb
Statistical Learning/MidTerm/Midterm_cache/html/lda_c23dcb4a9b1b7cc96168ebc0e371f056.rdx
Statistical Learning/MidTerm/Midterm_cache/html/lr_297be3bb47ee5c0203aca11f0f1c8fd6.RData
Statistical Learning/MidTerm/Midterm_cache/html/lr_297be3bb47ee5c0203aca11f0f1c8fd6.rdb
Statistical Learning/MidTerm/Midterm_cache/html/lr_297be3bb47ee5c0203aca11f0f1c8fd6.rdx
Statistical Learning/MidTerm/Midterm_cache/html/nb_77cf31923b48548e8cbb421b4e3a6259.RData
Statistical Learning/MidTerm/Midterm_cache/html/nb_77cf31923b48548e8cbb421b4e3a6259.rdb
Statistical Learning/MidTerm/Midterm_cache/html/nb_77cf31923b48548e8cbb421b4e3a6259.rdx
Statistical Learning/MidTerm/Midterm_cache/html/plot_sex_114675630f077d7ccd0086a1169ee99c.RData
Statistical Learning/MidTerm/Midterm_cache/html/plot_sex_114675630f077d7ccd0086a1169ee99c.rdb
Statistical Learning/MidTerm/Midterm_cache/html/plot_sex_114675630f077d7ccd0086a1169ee99c.rdx
Statistical Learning/MidTerm/Midterm_cache/html/predict2_1ed613ace267b2b230a13d916900537e.RData
Statistical Learning/MidTerm/Midterm_cache/html/predict2_1ed613ace267b2b230a13d916900537e.rdb
Statistical Learning/MidTerm/Midterm_cache/html/predict2_1ed613ace267b2b230a13d916900537e.rdx
Statistical Learning/MidTerm/Midterm_cache/html/predict_29688289e220197aff018913fb31c21e.RData
Statistical Learning/MidTerm/Midterm_cache/html/predict_29688289e220197aff018913fb31c21e.rdb
Statistical Learning/MidTerm/Midterm_cache/html/predict_29688289e220197aff018913fb31c21e.rdx
Statistical Learning/MidTerm/Midterm_cache/html/SALANUAL_a62ae6e5fb9d43ab8f8eee838706428a.RData
Statistical Learning/MidTerm/Midterm_cache/html/SALANUAL_a62ae6e5fb9d43ab8f8eee838706428a.rdb
Statistical Learning/MidTerm/Midterm_cache/html/SALANUAL_a62ae6e5fb9d43ab8f8eee838706428a.rdx
Statistical Learning/MidTerm/Midterm_cache/html/table1_934c53c332e58ecbcf2b794fc122871a.RData
Statistical Learning/MidTerm/Midterm_cache/html/table1_934c53c332e58ecbcf2b794fc122871a.rdb
Statistical Learning/MidTerm/Midterm_cache/html/table1_934c53c332e58ecbcf2b794fc122871a.rdx
Statistical Learning/MidTerm/Midterm_cache/html/tablepre_0e0cfb5b01edcd3f43bb6faf6d3f9d49.RData
Statistical Learning/MidTerm/Midterm_cache/html/tablepre_0e0cfb5b01edcd3f43bb6faf6d3f9d49.rdb
Statistical Learning/MidTerm/Midterm_cache/html/tablepre_0e0cfb5b01edcd3f43bb6faf6d3f9d49.rdx
Statistical Learning/MidTerm/Midterm_cache/html/train_test_35f86598136c64c3eee3cc32b4fbce90.RData
Statistical Learning/MidTerm/Midterm_cache/html/train_test_35f86598136c64c3eee3cc32b4fbce90.rdb
Statistical Learning/MidTerm/Midterm_cache/html/train_test_35f86598136c64c3eee3cc32b4fbce90.rdx
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-1_4b4ccc39b6c3384baa589ae01b5c7951.RData
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-1_4b4ccc39b6c3384baa589ae01b5c7951.rdb
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-1_4b4ccc39b6c3384baa589ae01b5c7951.rdx
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-2_42f5a830aa877b99d88cf6827c4dbe93.RData
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-2_42f5a830aa877b99d88cf6827c4dbe93.rdb
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-2_42f5a830aa877b99d88cf6827c4dbe93.rdx
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-3_5080757b153a4909020e8ac2f0228c17.RData
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-3_5080757b153a4909020e8ac2f0228c17.rdb
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-3_5080757b153a4909020e8ac2f0228c17.rdx
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-4_df38529b745043694ecf181b89663abd.RData
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-4_df38529b745043694ecf181b89663abd.rdb
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-4_df38529b745043694ecf181b89663abd.rdx
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-5_6a9f2a06bffc6f0c53610e0d81c840c9.RData
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-5_6a9f2a06bffc6f0c53610e0d81c840c9.rdb
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-5_6a9f2a06bffc6f0c53610e0d81c840c9.rdx
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-6_b929f43c49fb357ce8714c6ec4ca9ab2.RData
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-6_b929f43c49fb357ce8714c6ec4ca9ab2.rdb
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-6_b929f43c49fb357ce8714c6ec4ca9ab2.rdx
Statistical Learning/MidTerm/Midterm_files/figure-html/unnamed-chunk-6-1.png
Data Tidying and Reporting/Task_2/.Rhistory
Data Tidying and Reporting/Task_2/pruebas.R
Data Tidying and Reporting/Task_2/qmnist_nist.RData
Data Tidying and Reporting/Task_2/Task-2.pdf
Data Tidying and Reporting/Task_2/test-0.png
Data Tidying and Reporting/Task_2/test-1.png
Data Tidying and Reporting/Task_2/test-2.png
Data Tidying and Reporting/Task_2/test-3.png
Data Tidying and Reporting/Task_2/test-4.png
Data Tidying and Reporting/Task_2/test-5.png
Data Tidying and Reporting/Task_2/test-6.png
Data Tidying and Reporting/Task_2/test-7.png
Data Tidying and Reporting/Task_2/test-8.png
Data Tidying and Reporting/Task_2/test-9.png
*.RData
Data Tidying and Reporting/Task_2/Visual_Mnist/.Rhistory
Data Tidying and Reporting/Task_2/Assigment2.zip
High Performance Computing/.Rhistory
