
Data Tidying and Reporting/Task_1/Entregable/biblio.bib
Data Tidying and Reporting/Task_1/Entregable/qmnist_nist.RData
Data Tidying and Reporting/Task_1/Entregable/Task1_2pages.pdf
Data Tidying and Reporting/Task_1/Entregable/Task1_2pages.Rmd
Data Tidying and Reporting/Task_1/Entregable/Task1_2pages.tex
Data Tidying and Reporting/Task_1/Entregable/Task1_2pages_files/figure-latex/plot-1.pdf
Statistical Learning/MarcosCrespo_Midterm.zip
Statistical Learning/MidTerm/.Rhistory
Statistical Learning/MidTerm/datos_2018/R/.RData
Statistical Learning/MidTerm/datos_2018/R/.Rhistory
Statistical Learning/MidTerm/Midterm_cache/html/__packages
Statistical Learning/MidTerm/Midterm_cache/html/byclass_3c51ec62f275a1eb3f4351be21600553.RData
Statistical Learning/MidTerm/Midterm_cache/html/byclass_3c51ec62f275a1eb3f4351be21600553.rdb
Statistical Learning/MidTerm/Midterm_cache/html/byclass_3c51ec62f275a1eb3f4351be21600553.rdx
Statistical Learning/MidTerm/Midterm_cache/html/classes_51083fd9621b6d009e8f5e1e6b50aea3.RData
Statistical Learning/MidTerm/Midterm_cache/html/classes_51083fd9621b6d009e8f5e1e6b50aea3.rdb
Statistical Learning/MidTerm/Midterm_cache/html/classes_51083fd9621b6d009e8f5e1e6b50aea3.rdx
Statistical Learning/MidTerm/Midterm_cache/html/cnace_plot_431014093888e4870e1df23c71c26cea.RData
Statistical Learning/MidTerm/Midterm_cache/html/cnace_plot_431014093888e4870e1df23c71c26cea.rdb
Statistical Learning/MidTerm/Midterm_cache/html/cnace_plot_431014093888e4870e1df23c71c26cea.rdx
Statistical Learning/MidTerm/Midterm_cache/html/cnace_table_b6d64406b4449fff36a8123184d20786.RData
Statistical Learning/MidTerm/Midterm_cache/html/cnace_table_b6d64406b4449fff36a8123184d20786.rdb
Statistical Learning/MidTerm/Midterm_cache/html/cnace_table_b6d64406b4449fff36a8123184d20786.rdx
Statistical Learning/MidTerm/Midterm_cache/html/cno_table_077e84af711ee59e9d09892340b9c801.RData
Statistical Learning/MidTerm/Midterm_cache/html/cno_table_077e84af711ee59e9d09892340b9c801.rdb
Statistical Learning/MidTerm/Midterm_cache/html/cno_table_077e84af711ee59e9d09892340b9c801.rdx
Statistical Learning/MidTerm/Midterm_cache/html/conf_12783f5d4cebe44413e27e4cdec38cad.RData
Statistical Learning/MidTerm/Midterm_cache/html/conf_12783f5d4cebe44413e27e4cdec38cad.rdb
Statistical Learning/MidTerm/Midterm_cache/html/conf_12783f5d4cebe44413e27e4cdec38cad.rdx
Statistical Learning/MidTerm/Midterm_cache/html/cv_bb134a2ea71ec34b392aeed21e1db52e.RData
Statistical Learning/MidTerm/Midterm_cache/html/cv_bb134a2ea71ec34b392aeed21e1db52e.rdb
Statistical Learning/MidTerm/Midterm_cache/html/cv_bb134a2ea71ec34b392aeed21e1db52e.rdx
Statistical Learning/MidTerm/Midterm_cache/html/delete1_1ab9ec134cf167f8e163dbc4b76372d9.RData
Statistical Learning/MidTerm/Midterm_cache/html/delete1_1ab9ec134cf167f8e163dbc4b76372d9.rdb
Statistical Learning/MidTerm/Midterm_cache/html/delete1_1ab9ec134cf167f8e163dbc4b76372d9.rdx
Statistical Learning/MidTerm/Midterm_cache/html/edu_plot2_97838f868c59413c9b9f141182717222.RData
Statistical Learning/MidTerm/Midterm_cache/html/edu_plot2_97838f868c59413c9b9f141182717222.rdb
Statistical Learning/MidTerm/Midterm_cache/html/edu_plot2_97838f868c59413c9b9f141182717222.rdx
Statistical Learning/MidTerm/Midterm_cache/html/fichero_salida1_7a9c98a610364932af0121bc70059493.RData
Statistical Learning/MidTerm/Midterm_cache/html/fichero_salida1_7a9c98a610364932af0121bc70059493.rdb
Statistical Learning/MidTerm/Midterm_cache/html/fichero_salida1_7a9c98a610364932af0121bc70059493.rdx
Statistical Learning/MidTerm/Midterm_cache/html/ine_faddee2390e16a65c61c394bd0c225a1.RData
Statistical Learning/MidTerm/Midterm_cache/html/ine_faddee2390e16a65c61c394bd0c225a1.rdb
Statistical Learning/MidTerm/Midterm_cache/html/ine_faddee2390e16a65c61c394bd0c225a1.rdx
Statistical Learning/MidTerm/Midterm_cache/html/last_plots_9f4685fee0d30313aa7aaebc6507fb0f.RData
Statistical Learning/MidTerm/Midterm_cache/html/last_plots_9f4685fee0d30313aa7aaebc6507fb0f.rdb
Statistical Learning/MidTerm/Midterm_cache/html/last_plots_9f4685fee0d30313aa7aaebc6507fb0f.rdx
Statistical Learning/MidTerm/Midterm_cache/html/lda_c23dcb4a9b1b7cc96168ebc0e371f056.RData
Statistical Learning/MidTerm/Midterm_cache/html/lda_c23dcb4a9b1b7cc96168ebc0e371f056.rdb
Statistical Learning/MidTerm/Midterm_cache/html/lda_c23dcb4a9b1b7cc96168ebc0e371f056.rdx
Statistical Learning/MidTerm/Midterm_cache/html/lr_297be3bb47ee5c0203aca11f0f1c8fd6.RData
Statistical Learning/MidTerm/Midterm_cache/html/lr_297be3bb47ee5c0203aca11f0f1c8fd6.rdb
Statistical Learning/MidTerm/Midterm_cache/html/lr_297be3bb47ee5c0203aca11f0f1c8fd6.rdx
Statistical Learning/MidTerm/Midterm_cache/html/nb_77cf31923b48548e8cbb421b4e3a6259.RData
Statistical Learning/MidTerm/Midterm_cache/html/nb_77cf31923b48548e8cbb421b4e3a6259.rdb
Statistical Learning/MidTerm/Midterm_cache/html/nb_77cf31923b48548e8cbb421b4e3a6259.rdx
Statistical Learning/MidTerm/Midterm_cache/html/plot_sex_114675630f077d7ccd0086a1169ee99c.RData
Statistical Learning/MidTerm/Midterm_cache/html/plot_sex_114675630f077d7ccd0086a1169ee99c.rdb
Statistical Learning/MidTerm/Midterm_cache/html/plot_sex_114675630f077d7ccd0086a1169ee99c.rdx
Statistical Learning/MidTerm/Midterm_cache/html/predict2_1ed613ace267b2b230a13d916900537e.RData
Statistical Learning/MidTerm/Midterm_cache/html/predict2_1ed613ace267b2b230a13d916900537e.rdb
Statistical Learning/MidTerm/Midterm_cache/html/predict2_1ed613ace267b2b230a13d916900537e.rdx
Statistical Learning/MidTerm/Midterm_cache/html/predict_29688289e220197aff018913fb31c21e.RData
Statistical Learning/MidTerm/Midterm_cache/html/predict_29688289e220197aff018913fb31c21e.rdb
Statistical Learning/MidTerm/Midterm_cache/html/predict_29688289e220197aff018913fb31c21e.rdx
Statistical Learning/MidTerm/Midterm_cache/html/SALANUAL_a62ae6e5fb9d43ab8f8eee838706428a.RData
Statistical Learning/MidTerm/Midterm_cache/html/SALANUAL_a62ae6e5fb9d43ab8f8eee838706428a.rdb
Statistical Learning/MidTerm/Midterm_cache/html/SALANUAL_a62ae6e5fb9d43ab8f8eee838706428a.rdx
Statistical Learning/MidTerm/Midterm_cache/html/table1_934c53c332e58ecbcf2b794fc122871a.RData
Statistical Learning/MidTerm/Midterm_cache/html/table1_934c53c332e58ecbcf2b794fc122871a.rdb
Statistical Learning/MidTerm/Midterm_cache/html/table1_934c53c332e58ecbcf2b794fc122871a.rdx
Statistical Learning/MidTerm/Midterm_cache/html/tablepre_0e0cfb5b01edcd3f43bb6faf6d3f9d49.RData
Statistical Learning/MidTerm/Midterm_cache/html/tablepre_0e0cfb5b01edcd3f43bb6faf6d3f9d49.rdb
Statistical Learning/MidTerm/Midterm_cache/html/tablepre_0e0cfb5b01edcd3f43bb6faf6d3f9d49.rdx
Statistical Learning/MidTerm/Midterm_cache/html/train_test_35f86598136c64c3eee3cc32b4fbce90.RData
Statistical Learning/MidTerm/Midterm_cache/html/train_test_35f86598136c64c3eee3cc32b4fbce90.rdb
Statistical Learning/MidTerm/Midterm_cache/html/train_test_35f86598136c64c3eee3cc32b4fbce90.rdx
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-1_4b4ccc39b6c3384baa589ae01b5c7951.RData
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-1_4b4ccc39b6c3384baa589ae01b5c7951.rdb
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-1_4b4ccc39b6c3384baa589ae01b5c7951.rdx
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-2_42f5a830aa877b99d88cf6827c4dbe93.RData
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-2_42f5a830aa877b99d88cf6827c4dbe93.rdb
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-2_42f5a830aa877b99d88cf6827c4dbe93.rdx
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-3_5080757b153a4909020e8ac2f0228c17.RData
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-3_5080757b153a4909020e8ac2f0228c17.rdb
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-3_5080757b153a4909020e8ac2f0228c17.rdx
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-4_df38529b745043694ecf181b89663abd.RData
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-4_df38529b745043694ecf181b89663abd.rdb
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-4_df38529b745043694ecf181b89663abd.rdx
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-5_6a9f2a06bffc6f0c53610e0d81c840c9.RData
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-5_6a9f2a06bffc6f0c53610e0d81c840c9.rdb
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-5_6a9f2a06bffc6f0c53610e0d81c840c9.rdx
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-6_b929f43c49fb357ce8714c6ec4ca9ab2.RData
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-6_b929f43c49fb357ce8714c6ec4ca9ab2.rdb
Statistical Learning/MidTerm/Midterm_cache/html/unnamed-chunk-6_b929f43c49fb357ce8714c6ec4ca9ab2.rdx
Statistical Learning/MidTerm/Midterm_files/figure-html/unnamed-chunk-6-1.png
Data Tidying and Reporting/Task_2/.Rhistory
Data Tidying and Reporting/Task_2/pruebas.R
Data Tidying and Reporting/Task_2/qmnist_nist.RData
Data Tidying and Reporting/Task_2/Task-2.pdf
Data Tidying and Reporting/Task_2/test-0.png
Data Tidying and Reporting/Task_2/test-1.png
Data Tidying and Reporting/Task_2/test-2.png
Data Tidying and Reporting/Task_2/test-3.png
Data Tidying and Reporting/Task_2/test-4.png
Data Tidying and Reporting/Task_2/test-5.png
Data Tidying and Reporting/Task_2/test-6.png
Data Tidying and Reporting/Task_2/test-7.png
Data Tidying and Reporting/Task_2/test-8.png
Data Tidying and Reporting/Task_2/test-9.png
*.RData
Data Tidying and Reporting/Task_2/Visual_Mnist/.Rhistory
Data Tidying and Reporting/Task_2/Assigment2.zip
High Performance Computing/.Rhistory
High Performance Computing/HPC_Assigment_cache/html/__packages
High Performance Computing/HPC_Assigment_cache/html/fig-fullwidth_2329c774401d2c66f1ec62d1d77447e2.rdb
High Performance Computing/HPC_Assigment_cache/html/fig-fullwidth_2329c774401d2c66f1ec62d1d77447e2.rdx
High Performance Computing/HPC_Assigment_cache/html/fig-main_f038d13f85d1fecb2ddfe4928cb3d4c8.rdb
High Performance Computing/HPC_Assigment_cache/html/fig-main_f038d13f85d1fecb2ddfe4928cb3d4c8.rdx
High Performance Computing/HPC_Assigment_cache/html/fig-margin-separate_baa3b749292a4f08993f21f90d564554.rdb
High Performance Computing/HPC_Assigment_cache/html/fig-margin-separate_baa3b749292a4f08993f21f90d564554.rdx
High Performance Computing/HPC_Assigment_cache/html/fig-margin-together_4f5e3bf11f8c12ef1cfb21ce12cf0309.rdb
High Performance Computing/HPC_Assigment_cache/html/fig-margin-together_4f5e3bf11f8c12ef1cfb21ce12cf0309.rdx
High Performance Computing/HPC_Assigment_cache/html/fig-margin_a0535abdf23adc1f9a062bb01be7ef0e.rdb
High Performance Computing/HPC_Assigment_cache/html/fig-margin_a0535abdf23adc1f9a062bb01be7ef0e.rdx
High Performance Computing/HPC_Assigment_cache/html/fig-nocap-fullwidth_220ae08dbaa9f8b5957bcdf7dda79df6.rdb
High Performance Computing/HPC_Assigment_cache/html/fig-nocap-fullwidth_220ae08dbaa9f8b5957bcdf7dda79df6.rdx
High Performance Computing/HPC_Assigment_cache/html/fig-nocap-main_833e3e1f46f5402ebc3492a421e7b6fc.rdb
High Performance Computing/HPC_Assigment_cache/html/fig-nocap-main_833e3e1f46f5402ebc3492a421e7b6fc.rdx
High Performance Computing/HPC_Assigment_cache/html/fig-nocap-margin_66c49bd49707aef9500ca75afd6b3774.rdb
High Performance Computing/HPC_Assigment_cache/html/fig-nocap-margin_66c49bd49707aef9500ca75afd6b3774.rdx
High Performance Computing/HPC_Assigment_cache/html/fig-two-separate_4fc3b8993f201f61a42b3226dd25bcfa.rdb
High Performance Computing/HPC_Assigment_cache/html/fig-two-separate_4fc3b8993f201f61a42b3226dd25bcfa.rdx
High Performance Computing/HPC_Assigment_cache/html/fig-two-together_c7b60a98613763dbc43b4f334051c97f.rdb
High Performance Computing/HPC_Assigment_cache/html/fig-two-together_c7b60a98613763dbc43b4f334051c97f.rdx
High Performance Computing/HPC_Assigment_files/figure-html/fig-fullwidth-1.png
High Performance Computing/HPC_Assigment_files/figure-html/fig-main-1.png
High Performance Computing/HPC_Assigment_files/figure-html/fig-margin-1.png
High Performance Computing/HPC_Assigment_files/figure-html/fig-margin-separate-1.png
High Performance Computing/HPC_Assigment_files/figure-html/fig-margin-separate-2.png
High Performance Computing/HPC_Assigment_files/figure-html/fig-margin-together-1.png
High Performance Computing/HPC_Assigment_files/figure-html/fig-margin-together-2.png
High Performance Computing/HPC_Assigment_files/figure-html/fig-nocap-fullwidth-1.png
High Performance Computing/HPC_Assigment_files/figure-html/fig-nocap-main-1.png
High Performance Computing/HPC_Assigment_files/figure-html/fig-nocap-margin-1.png
High Performance Computing/HPC_Assigment_files/figure-html/fig-two-separate-1.png
High Performance Computing/HPC_Assigment_files/figure-html/fig-two-separate-2.png
High Performance Computing/HPC_Assigment_files/figure-html/fig-two-together-1.png
High Performance Computing/HPC_Assigment_files/figure-html/fig-two-together-2.png
High Performance Computing/HPC_Assigment.log
High Performance Computing/HPC_Assigment.pdf
High Performance Computing/HPC_Assigment.Rmd
High Performance Computing/HPC_Assigment_cache/latex/__packages
High Performance Computing/HPC_Assigment_cache/latex/fig-fullwidth_826315221f22792c977de679b2c22c92.rdb
High Performance Computing/HPC_Assigment_cache/latex/fig-fullwidth_826315221f22792c977de679b2c22c92.rdx
High Performance Computing/HPC_Assigment_cache/latex/fig-main_6bf3ebc08c3502b76d0848e517a42b70.rdb
High Performance Computing/HPC_Assigment_cache/latex/fig-main_6bf3ebc08c3502b76d0848e517a42b70.rdx
High Performance Computing/HPC_Assigment_cache/latex/fig-margin-separate_9707dd8bd2c239e50830f9496a205f11.rdb
High Performance Computing/HPC_Assigment_cache/latex/fig-margin-separate_9707dd8bd2c239e50830f9496a205f11.rdx
High Performance Computing/HPC_Assigment_cache/latex/fig-margin-together_164531667efc1766a58ca85509184bb3.rdb
High Performance Computing/HPC_Assigment_cache/latex/fig-margin-together_164531667efc1766a58ca85509184bb3.rdx
High Performance Computing/HPC_Assigment_cache/latex/fig-margin_95320790958cd2b2474b3847016c38ed.rdb
High Performance Computing/HPC_Assigment_cache/latex/fig-margin_95320790958cd2b2474b3847016c38ed.rdx
High Performance Computing/HPC_Assigment_cache/latex/fig-nocap-fullwidth_f17e489c3cb07ec0b70c17b629f91e40.rdb
High Performance Computing/HPC_Assigment_cache/latex/fig-nocap-fullwidth_f17e489c3cb07ec0b70c17b629f91e40.rdx
High Performance Computing/HPC_Assigment_cache/latex/fig-nocap-main_d3da883c06c203442963d71fceca0c28.rdb
High Performance Computing/HPC_Assigment_cache/latex/fig-nocap-main_d3da883c06c203442963d71fceca0c28.rdx
High Performance Computing/HPC_Assigment_cache/latex/fig-nocap-margin_f64daad6eb75bc3509b5cc2fee67827d.rdb
High Performance Computing/HPC_Assigment_cache/latex/fig-nocap-margin_f64daad6eb75bc3509b5cc2fee67827d.rdx
High Performance Computing/HPC_Assigment_cache/latex/fig-two-separate_0828b51281eccf39d6c7ac317ff3d6ed.rdb
High Performance Computing/HPC_Assigment_cache/latex/fig-two-separate_0828b51281eccf39d6c7ac317ff3d6ed.rdx
High Performance Computing/HPC_Assigment_cache/latex/fig-two-together_9b0ee7e17287d73e18261e70770d6db6.rdb
High Performance Computing/HPC_Assigment_cache/latex/fig-two-together_9b0ee7e17287d73e18261e70770d6db6.rdx
High Performance Computing/HPC_Assigment.zip
High Performance Computing/HPC_Assigment_files/figure-latex/unnamed-chunk-2-1.pdf
High Performance Computing/HPC_Assigment_files/figure-latex/unnamed-chunk-6-1.pdf
High Performance Computing/parallel.cpp
High Performance Computing/pruebas_cpp2.cpp
High Performance Computing/upload.zip
Statistical Learning/Final/.Rhistory
Statistical Learning/Final/Final_cache/html/__packages
Statistical Learning/Final/Final_cache/html/cnace_plot_6b4107a1f89e11ecaabd33d348767f7d.rdb
Statistical Learning/Final/Final_cache/html/cnace_plot_6b4107a1f89e11ecaabd33d348767f7d.rdx
Statistical Learning/Final/Final_cache/html/cv2_8c6d69cb7ac4df73163b2a2f1580423d.rdb
Statistical Learning/Final/Final_cache/html/cv2_8c6d69cb7ac4df73163b2a2f1580423d.rdx
Statistical Learning/Final/Final_cache/html/cv_a531bfa09f240552b04375ed4111d6ea.rdb
Statistical Learning/Final/Final_cache/html/cv_a531bfa09f240552b04375ed4111d6ea.rdx
Statistical Learning/Final/Final_cache/html/fichero_salida1_860928a96af29411f39550ffc31852f3.rdb
Statistical Learning/Final/Final_cache/html/fichero_salida1_860928a96af29411f39550ffc31852f3.rdx
Statistical Learning/Final/Final_cache/html/knn_87b158dd6a7f8c4f07d13b4e0c8728bd.rdb
Statistical Learning/Final/Final_cache/html/knn_87b158dd6a7f8c4f07d13b4e0c8728bd.rdx
Statistical Learning/Final/Final_cache/html/plot2_666d4036ec24c1aa113279dac8ce95a7.rdb
Statistical Learning/Final/Final_cache/html/plot2_666d4036ec24c1aa113279dac8ce95a7.rdx
Statistical Learning/Final/Final_cache/html/plot3_776b7a69ad3f16e0bea832473b01b70f.rdb
Statistical Learning/Final/Final_cache/html/plot3_776b7a69ad3f16e0bea832473b01b70f.rdx
Statistical Learning/Final/Final_cache/html/rates2_9477c4d7252400bfc5cd010680cbdc33.rdb
Statistical Learning/Final/Final_cache/html/rates2_9477c4d7252400bfc5cd010680cbdc33.rdx
Statistical Learning/Final/Final_cache/html/rates3_6178355655dca290c8cda20012b439ad.rdb
Statistical Learning/Final/Final_cache/html/rates3_6178355655dca290c8cda20012b439ad.rdx
Statistical Learning/Final/Final_cache/html/rates_33d7a00768bf1369b18702950a549045.rdb
Statistical Learning/Final/Final_cache/html/rates_33d7a00768bf1369b18702950a549045.rdx
Statistical Learning/Final/Final_cache/html/results_5fbf587aeb2db35f581926883f0d6563.rdb
Statistical Learning/Final/Final_cache/html/results_5fbf587aeb2db35f581926883f0d6563.rdx
Statistical Learning/Final/Final_cache/html/table1_0ba82f9c010ab1e4fe139e2329a0bacf.rdb
Statistical Learning/Final/Final_cache/html/table1_0ba82f9c010ab1e4fe139e2329a0bacf.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-10_66f5813ad15d691f4e573746b61405cc.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-10_66f5813ad15d691f4e573746b61405cc.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-11_c7128445409f2c2020bc6e8d48f9f0da.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-11_c7128445409f2c2020bc6e8d48f9f0da.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-12_db17141de771d32dc07fe0286a4f0c5e.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-12_db17141de771d32dc07fe0286a4f0c5e.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-13_2e62850b9778b024934b1edca072ac0a.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-13_2e62850b9778b024934b1edca072ac0a.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-14_b2a7716ef24b953c39b1d0ef7af1f153.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-14_b2a7716ef24b953c39b1d0ef7af1f153.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-15_cb42c07f2de8cef688263cf777061b2b.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-15_cb42c07f2de8cef688263cf777061b2b.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-16_bb6594331d16876b10ba3c677dbac351.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-16_bb6594331d16876b10ba3c677dbac351.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-17_da597f6b4d49357889c12f0dfcc7269f.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-17_da597f6b4d49357889c12f0dfcc7269f.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-18_af4bd5e23630ab9e17f64495d0d09a51.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-18_af4bd5e23630ab9e17f64495d0d09a51.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-19_37146856afafe8955f6c302303cd7070.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-19_37146856afafe8955f6c302303cd7070.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-1_c9e419bd878ad88e006bbb96acaa501e.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-1_c9e419bd878ad88e006bbb96acaa501e.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-20_220a5ec157960745973835bfbfb40d39.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-20_220a5ec157960745973835bfbfb40d39.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-2_9c94dbf2dc808054b916ade7ffd0c9ed.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-2_9c94dbf2dc808054b916ade7ffd0c9ed.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-3_da8be888c1fbb4352f64513ac607866d.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-3_da8be888c1fbb4352f64513ac607866d.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-4_7c299dc4304de953def0ba1c76003e38.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-4_7c299dc4304de953def0ba1c76003e38.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-5_74f738bc2be1677e07bd17e8118959cb.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-5_74f738bc2be1677e07bd17e8118959cb.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-6_05fe4cfd1673f72e738de0e04fd2be45.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-6_05fe4cfd1673f72e738de0e04fd2be45.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-7_c1b6020bd722d9bc836503fd61ef6ff6.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-7_c1b6020bd722d9bc836503fd61ef6ff6.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-8_10ad3b3f1380f8614edac77557a7ab23.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-8_10ad3b3f1380f8614edac77557a7ab23.rdx
Statistical Learning/Final/Final_cache/html/unnamed-chunk-9_5d8aaada9fa7bd88ee736acdb7089eeb.rdb
Statistical Learning/Final/Final_cache/html/unnamed-chunk-9_5d8aaada9fa7bd88ee736acdb7089eeb.rdx
Statistical Learning/Final/FinalMarcos (2).zip
