
Data Tidying and Reporting/Task_1/Entregable/biblio.bib
Data Tidying and Reporting/Task_1/Entregable/qmnist_nist.RData
Data Tidying and Reporting/Task_1/Entregable/Task1_2pages.pdf
Data Tidying and Reporting/Task_1/Entregable/Task1_2pages.Rmd
Data Tidying and Reporting/Task_1/Entregable/Task1_2pages.tex
Data Tidying and Reporting/Task_1/Entregable/Task1_2pages_files/figure-latex/plot-1.pdf
